<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>


<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map-canvas"></div>