




<div id="where_guide_title">Where can you be  guide?</div>
<input id="pac-input-tour" class="controls" type="text" placeholder="Where can you guide?">
<div id="map-canvas"></div>




<%= javascript_include_tag 'specialty' %>    
  

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>
<%= javascript_include_tag "map" %>
