




<div id="where_guide_title">Where can you be a guide?</div>
<input id="pac-input-search" class="controls" type="text" placeholder="Search">
<div id="map-canvas" class="place_tours_map"></div>




<%= javascript_include_tag 'specialty' %>    
  

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>
<%= javascript_include_tag "map" %>
