/* Nav Bar */

nav {
	height: 60px;
	width: 100%;
}

#nav_container {
	text-align: center;
}

#nav_logo {
	float: left;
}

#right_hand_navbar {
	float: right;
}

/* Home Page */

#main_search {
	text-align: center;
	margin-top: 200px;
}