/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* BODY */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


#content {
  max-width: 1000px;
  margin: 60px auto 0;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 46px;
  font-size: 40px;
  margin: 0 0 23px 0;
  }
h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 23px 0;
  }
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 23px;
  margin: 0 0 23px 0;
  }

/* Nav Bar */

nav {
  background-image: linear-gradient(#74AFAD, #74AFAD);
  border-bottom: 1px solid #74AFAD;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#nav_search   > input {
  display: inline;
  position: absolute;
  top: 9px;
  left: 50%;
  margin-left: -7em;
}

#nav_container {
  height: 43px;
  margin: 0 40px;
  text-align: center;
}

.right_hand_navigation {
  float: right;
  min-width: 11em;
  text-align: right;
  line-height: 45px;
}

.right_hand_navbar a {
  display: inline-block;
  height: 41px;
  margin-left: 10px;
}

#right_hand_navbar > a {
  margin-right: 20px;
}

#right_hand_navbar {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

#right_hand_navbar span {
  line-height: 60px;
  vertical-align: middle;
}

#nav_logo {
  float: left;
  line-height: 60px;
  font-size: 2em;
}

#nav_logo a{  
  text-decoration: none;
  color: #000;
}

.navbar_icon {
  height: 26px;
  width: 26px;
  margin-left: 13px;
  vertical-align: middle;
}

#nav_image_container {
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
}

#nav_profile_pic {
  border: 1px solid #CCCCCC;
  height: 32px;
  display: inline-block;
  width: 32px;
  background-position: top center;
  background-size: cover;
  margin: 0 0 0 17px;
  cursor: pointer;
}

#nav_facebook_icon {
  border: none !important;
  line-height: 40px;
  margin-top: 4px !important;
  width: 5px !important;
}

.facebook {
  height: 32px !important;
}

.home_top_left {
  height: 132px;
  width: 120px;
  padding: 10px;
  float:left;
  text-align: left;
  cursor: default;
}

.home_top_right {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 38px auto;
  float: right;
  height: 28px;
  padding: 3px 20px;
  width: 28px;
  margin-top: 11px !important;
}

#header {
  margin-bottom: 95px;
  text-align: right;
  height: 171px;
}

#home_logo {
  font-size: 3em;
  line-height: 60px;
  text-align: right;
  border-right: 3px solid;
  padding-right: 20px;
}

#home_dropdown {
  float: right;
}

#tagline {
  float: left;
  width: 52px;
  text-align: left;
  margin: 24px 0 0 10px;
  line-height: 28px;
  font-weight: bold;
}



/* DROPDOWN */

#dropdown {
  font-size: 0.8em;
  position: absolute;
  right: 36px;
  top: 61px;
  width: 10em;
  z-index: 30;
}

#landing_dropdown #dropdown {
  right: 20%;
  top: 94px;
}

#dropdown ul{
  list-style-type: none;
  margin: 0;
  right: 15%;
}

#dropdown li {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #dedede;
  padding: 11px;
  border-top: none;
}

#dropdown li:hover{
  background: #f8f8f8;
}

#dropdown li:active{
  background: #F2F2F2;
}

#dropdown a{
  text-decoration: none;
  color: #000;
}

.hide{
  display: none;
}

/* Home Page */

#main_search {
  text-align: center;
  margin: 0 auto 0;
  max-width: 880px;
  left:0;
}

#home_full_background {
  position: fixed;
  height: 100%;
  width: 500%;
  z-index: -10;
  top: 0;
  left: -100%;
}

.sliding_images{
  width: 20%;
  height: 100%;
  display: inline-block;
  margin-left:-4px;
}

#milan {
  margin-left: 0px;
  background: url("milan.jpg");
  background-position: center center;
  background-size: cover;
}

#cafe {
  background: url("cafe.jpg");
  background-position: top center;
  background-size: cover;
}

#bike {
  background: url("bike.jpg");
  background-position: top center;
  background-size: cover;
}

#fishing {
  background: url("fishing.jpg");
  background-position: top center;
  background-size: cover;
}

#walking {
  background: url("walking.jpg");
  background-position: top center;
  background-size: cover;
}

#search_container {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 3px;
}

#search_container input {
  border: 0 none;
  border-radius: 4px;
  font-size: 18px;
  height: 29px;
  line-height: 30px;
  margin-top: 2px;
  padding: 3px 12px;
  vertical-align: top;
  width: 386px;
}

#search_container form {
  width: auto;
}

.date_picker {
  width: 116px !important;
  margin-left: 3px;
  border-radius: 4px !important;
  font-size: 15px !important;
  color: #666;
}

.calendar_icon{
  background: url('glyphicons-halflings.png');
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-position: -263px -182px;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 0px;
}

.icon_container {
  position: relative;
  right: 23px;
  opacity: 0.5
}

#search_button {
  background-color: #EB5646;
  border: medium none;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 1.1em;
  padding: 8px 28px;
  height: 40px;
  margin-left: 12px;
  cursor: pointer;
}

#sliding_nav{
  position: fixed;
  bottom:20px;
  right:20px;
  width: 43px;
}

#sliding_nav a{
  color: #000;
  text-decoration: none;
  width:20px;
}

.ui-datepicker-prev {
  float: left;
}


#message {
  z-index: 5;
  position: absolute;
  top: 50px;
  left: 90px;
  display: none;
}






/*SEARCH RESULTS*/

.search_results_map {
  width: auto;
  float: left !important;
  left:0 !important;
  position: fixed !important;
}

#search_results_content {
  height:24px;
  overflow: hidden;
  border-left: none;
}

#search_results {
  width: 473px;
  position:fixed;
  right:0;
}

#refine_search_button {
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin: 4px auto;
  text-align: center;
  width: 15%;
  background-position: center center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  height: 1em;
  border: 1.5px solid #fff;
}

#refine_search_button:hover {
}

.auto_height{
  height:auto !important;
}

.flip_background_image_v {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.flip_background_image_h {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/*RESULTS LIST*/

#search_results_list {
  overflow: scroll;
}

#search_results_list a {
  text-decoration: none;
}

.search_card_info {
  float: left;
  width: 72%;
}

.search_results_card {
  height: 100px;
  padding: 6px;
  border: 1px solid #DDDDDD;
}

.search_results_card:hover{
  /*background: #EAF2F2;  */
}

.search_results_card p{
  color: #000;
  padding-left: 10px;
}

.ambassador_photo_card {
  background-position: top center;
  background-size: cover;
  background-repeat: none;
  height: 100px;
  width: 100px;
  display: inline-block;
  float: left;
}

.ambassador_name_card {
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 23px;
}

.ambassador_tagline {
  font-style: italic;
}

.search_contact_button {
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}

.search_contact_button_container > a{
  text-decoration: none;
  color: #000;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.1em;
  height: 40px;
  background-color: #EB5646;
}

.search_contact_button_container{
  margin-left: 12px;
  border: medium none;
  border-radius: 4px;
  width: 100%;
  text-align: right;
}


/*MAPS*/

#map-canvas {
  width: 80%;
  height: 450px;
  border: 1px solid black;
  left: 120px;
}

.place_tours_map {
    bottom: 0 !important;
    height: auto !important;
    left: 0 !important;
    position: fixed !important;
    right: 0 !important;
    top: 60px;
    width: auto !important;
}

#pac-input-tour {
  z-index: 3;
  position: absolute;
  left: 330px;
  top: 575px;
  width: 215px;
  height: 20px;
  border-radius: 3px;
}

#pac-input-search {
  z-index: 3;
  position: absolute;
  left: 5px;
  bottom: 40px;
  width: 215px;
  height: 20px;
  border-radius: 3px;
  border: 0 none;
  border-radius: 4px;
  font-size: 18px;
  height: 29px;
  line-height: 30px;
  margin-top: 2px;
  padding: 3px 12px;
  vertical-align: top;
  width: 150px;
}

.tour_desc {
  width: 350px;
  height: 128px;
}

.tour_text {
    border: 1px solid #DDDDDD;
    height: 110px;
    overflow: auto;
    width: 350px;
    font-family: 'Open Sans',sans-serif;
}

.tour_creation_link {
    color: #666666;
    display: inline-block;
    font-weight: bold !important;
    padding: 0 8px;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
}









/* DASHBOARD */

#dashboard_title {
  padding: 30px 0 20px 0;
  text-align: center;
}

#dashboard_sections > div:first-of-type {
  border-right: 1px solid #ddd;
}

.section {
  float: left;
  padding: 1% 3% 3% 3%;
  width: 43%;
}

.profile_title {
  text-align: center;
  padding-bottom: 20px;
  width: 50%;
  float: left;
}

.profile_section {
  padding: 10px 0;
}

#become_ambassador {
  left: 50%;
  margin: 0 0 0 -8em;
  position: absolute;
  top: 50%;
  width: 16em;
  z-index: 20;
}

#ambassador_overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 499px;
  z-index: 10;
  height: 340px;
  display: none;
}


#ambassador_ratings {
  max-height: 176px;
  overflow: auto;
  width: 100%;
}

.profile_section > h4 {
  font-weight: bold;
  padding-bottom: 10px;
}

/* CARD */

.card_image {
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.card_image_container {
  border: 1px solid #CCCCCC;
  float: left;
  height: 50px;
  display: inline-block;
  width: 50px;
  background-position: top center;
  background-size: cover;
}

.card_info {
  float: left;
  width: 80%;
  color: #000;
  margin-left: 13px;
}

.card {
  display: block;
  height: 70px;
  width: 100%;
}

.coming_soon {
  color: red;
}

/*TOURS VIEW*/
#more_tours h3{
  font-weight: bold;
}


/* AMBASSADOR PLACE TOURS */

#ambassador_availability {
  padding: 30px;
  text-align: center;
}

#where_guide_title {
  text-align: center;
}

#choose_specialties > h2 {
  /*text-align: center;*/
  padding: 20px 0;
}

#specialties {
  /*margin: auto;*/
  /*padding-left: 58px;*/
  width: 458px;
}

.specialty {
  width: 150px;
  display: inline-block;
}

.center {
  text-align: center;
}

.submit_button {
  padding: 30px;
}

/* USER INFO */

.user_info, .ambassador_info {
  width: 600px;
  margin: auto;
  padding: 30px;
}

.user_info div {
  /*height: 30px;*/
  padding: 10px 0;
}

.user_pic {
  height: 150px;
  width: 150px;
  display: inline-block;
  background-position: top center;
  background-size: cover;
}

#change_picture{
  margin-top: 120px;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  padding: 3px;
  border: 1px solid #ddd;
  background: rgba(255, 255, 255, 0.5);
}

#right_of_picture {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-left:20px;
}

#right_of_picture div {
  display: block;
  padding: 0 0 15px;
  width: 100%;
}

.user_tagline input {
  width: 100%;
}

.user_email input {
  width: 70%;
}

.user_name {
  font-size: 3em;
  height: 50px !important;
}

.user_bio {
  height: 100px !important;
}

.user_bio textarea {
  width: 100%;
  height: 100px;
}

#right_of_picture > input {
  margin: 13px;
}

#under_picture {
  padding-top: 20px;
}

#private_info div {
  height: 1em;
}

#private_info h3{
  font-weight: bold;
  padding: 20px 0;
}

/* MEETUPS VIEW */


.meetup_pic {
  height: 150px;
  width: 150px;
  display: inline-block;
  background-position: top center;
  background-size: cover;
}

.meetup_card h2{
  font-size: 3em;
}

.meetup_info {
  width: 600px;
  margin: auto;
  padding: 30px;
}

.meetup_info h3{
  text-align: center;
  padding: 30px;
}

.user_info {
  display: block;
  padding: 4px 0;
}

#meetup_meetup_notes {
  width: 100%;
  height: 60px;
  margin: 20px 0;
}

#meetup_notes {
  display: block;
  margin: 20px 0;
}

/* REVIEW VIEW */

.reviewee_pic{
  height: 150px;
  width: 150px;
  display: inline-block;
  background-position: top center;
  background-size: cover;
}

#reviewee_form textarea{
  width: 100%;
  margin: 20px 0;
}

.tour_box {
    background-color: #FFFFFF;
    height: 214px;
    overflow: scroll;
    width: 258px;
}





/*DATEPICKER*/

.ui-datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: none;
  font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
}
#ui-datepicker-div {
  background: #fff;
}
.ui-datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.ui-datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.ui-datepicker table {
  margin: auto;
}
.ui-datepicker td,
.ui-datepicker th {
  text-align: center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
.ui-datepicker td:hover,
.ui-datepicker-current-day {
  background: #eeeeee;
  cursor: pointer;
}
.ui-datepicker-unselectable,
.ui-datepicker th {
  font-weight: bold;
  background: none !important;
  cursor: default !important;
}

.ui-datepicker a {
  text-decoration: none;
  color: #000;
}
.ui-datepicker-title {
  text-align: center;
  margin: 6px 26px 7px;
  padding-top: 3px;
}
.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url('glyphicons-halflings.png');
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}
.ui-datepicker-prev {
  float: left;
  background-position: -237px -93px;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  left: 4px;
}
.ui-datepicker-next {
  float: right;
  background-position: -260px -93px;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  padding: 4px;
  border-radius: 4px;
}
.ui-datepicker-prev:hover {
  background-color: #eee;
}
.ui-datepicker-next:hover {
  background-color: #eee;
}


/*BACKGROUND IMAGE CHANGER*/
#background_choices {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color:
}

#background_choices a {
  display: inline-block;
  padding-left: 5px;
  color: #000;
  text-decoration: none;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#dialog-message{
  display: none;
}

#availability_form{
  display: none;
}
