.super_modal_form_styling {
  display: inline;
  margin: 5px;
}

#super_modal_h2 {
	font-family: 'Open Sans',sans-serif;
	font-size: 15px;
	line-height: 23px;
	font-size: 1.25em;
    padding: 20px 0;
    font-weight: normal;
}
