<h4>Hi, <%= @recipient.name%> </h4>

<p>A new visitor, <%= @sender.name%>, wants your help to get to know your city!</p>
<%= image_tag "http://www.ronsaari.com/stockImages/chicago/chicagoSkyline.jpg", alt: "cityscape" %>
<p>Tale care,</p>
<p>Ambassador Program</p>