<h4>Hi, <%= @visitor.first_name%> </h4>

<p>Unfortunately, it seems <%= @ambassador.first_name %> will not be able to help you.</p>
<p>Please try one of our other great ambassadors.</p>
<p>Tale care,</p>
<p>Ambassador Program</p>