<p> An email was sent informing the requestor that you were unavailable. </p>
<p> We hope you can help out more visitors soon! </p>
<p> You can set your availability by visiting <%=link_to 'your dashboard', '/dashboard' %> to avoid further requests. </p>
