<h4>Hi, <%= @visitor.first_name%> </h4>

<p>Unfortunately, it seems <%= @ambassador.first_name %> will not be able to help you.</p>
<p>Please try one of our other great ambassadors.</p>
<p>Tale care,</p>
<%=link_to(root_url) do %>
  <h3 style="font-family:'Dosis',sans-serif;font-weight:800;">City Bird</h3>
<% end %>