<h2>You have an upcoming meetup</h2>
<p>Hi, %recipient.first_name%<p>
<p>You have a meetup tomorrow with %recipient.attendee_first_name%.</p>
<a href="<%=root%>/users/%recipient.user_id%/meetups/%recipient.meetup_id%"><p>Meetup Detail</p></a>
<p>Take care,</p>
<%=link_to(root_url) do %>
  <h3 style="font-family:'Dosis',sans-serif;font-weight:800;">City Bird</h3>
<% end %>
