<h2>We hope you enjoyed your time</h2>
<p>Hi, %recipient.first_name%<p>
<p>Please rate your experience with %recipient.attendee_first_name%.</p>
<a href="<%=root%>/users/%recipient.attendee_id%/reviews/new"><p>Rate Your Experience</p></a>
<p>Take care,</p>
<p>Ambassador Program</p>