
<div id="main_search">
  <%= form_tag search_results_path do %>
    <%= text_field_tag 'search', nil, :placeholder => 'Where are you going?' %>
  <% end %>
  <input type="text" data-behaviour='datepicker' >
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker();
  })
</script>

<%= javascript_include_tag 'facebook' %>
