<%= javascript_include_tag "search" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>
<div id="home_full_background">
  <div id="milan" class="sliding_images"></div>
  <div id="cafe" class="sliding_images"></div>
  <div id="bike" class="sliding_images"></div>
  <div id="fishing" class="sliding_images"></div>
  <div id="walking" class="sliding_images"></div>
</div>

<div id="main_search">
  <div id="search_container">
    <%= form_tag search_path, id: 'search_form' do %>
    <input id="pac-input" class="controls" type="text" placeholder="Where are you going?">
    <input id='center_lat' type='hidden' name='center_lat' value=''>
    <input id='center_lng' type='hidden' name='center_lng' value=''>
      
    <input type="text" onfocus="this.blur()" class="date_picker" data-behaviour='datepicker' id="starting_date"><span class="icon_container"><span class="calendar_icon"></span></span>
    <input type="text" onfocus="this.blur()" class="date_picker" data-behaviour='datepicker' id="ending_date"><span class="icon_container"><span class="calendar_icon"></span></span>
    <button id="search_button">Search</button>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
      format: "MM dd yyyy",
      autoclose: true,
    });
  })
</script>

<%= javascript_include_tag 'facebook' %>

