
<div id="main_search">
  <%= form_tag search_results_path do %>
    <%= text_field_tag 'search', nil, :placeholder => 'Where are you going?' %>
  <input type="text" data-behaviour='datepicker' >
  <input type="text" data-behaviour='datepicker' >
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
      format: "MM dd yyyy",
      autoclose: true,
    });
  })
</script>

<%= javascript_include_tag 'facebook' %>
