<%= javascript_include_tag 'fb_graph_api_required' %>

<%= javascript_include_tag 'vex', 'vex.combined.min' %>
<script>vex.defaultOptions.className = 'vex-theme-flat-attack';</script>

<%= javascript_include_tag 'fb_profile_modal' %>


<a href="#" id='avatar_selector'>Modal</a>

